/*
* FILE             : SETeditor.css
* PROJECT          : WDD-A7-ASPNET
* PROGRAMMER       : Josh Braga 5895818 and Balazs Karner 8646201
* FIRST VERSION    : 2020-12-10
* DESCRIPTION      : 
*       This file contains all the styles for the online text editor.
*/



body 
{
    margin: 0px;
    background-color: #3b4048;
}

.textbox 
{
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: Arial;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    height: 700px;
    width: 1000px;
    font-size: 18px;
    display: block;
}

.saveAsBox {
    font-family: Arial;
    font-size: 16px;
    width: 210px;
    color: #fff;
    background: transparent;
    border: 0;
    border-bottom: 1px solid White;
    outline: none;
    margin-top: 15px;
    margin-left: 5px;
    padding: 8px 0 5px 0;
    padding: 8px 0 5px 0;
}

.statusBar {
    font-family: Arial;
    font-size: 16px;
    color: red;
}

/* 
*   REFERENCE: 
*   W3 Schools. (N.D.). How TO - Subnav https://www.w3schools.com/howto/howto_css_subnav.asp
*   The following CSS for the navigation bar was adapted from the W3 Schools example
*/
.navigationBarText 
{
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    font-family: Arial;
}

/* The navigation menu */
.navigationBar 
{
    overflow: hidden;
    background-color: #333;
}

    /* Navigation links */
    .navigationBar button 
    {
        float: left;
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 20px 16px 20px 16px;
        text-decoration: none;
        background-color: #333;
        border: none;
        outline: none;
    }

        /* Add a red background color to navigation links on hover */
        .navigationBar button:hover 
        {
            background-color: #e78200;
        }

    /* Navigation links */
    .navigationBar select {
        float: left;
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 20px 16px 20px 16px;
        text-decoration: none;
        background-color: #333;
        border: none;
        outline: none;
    }

        /* Add a red background color to navigation links on hover */
        .navigationBar select:hover {
            background-color: #e78200;
        }

    /* Navigation links */
    .navigationBar DropDownList {
        float: left;
        font-size: 20px;
        color: white;
        text-align: center;
        padding: 20px 16px 20px 16px;
        text-decoration: none;
        background-color: #333;
        border: none;
        outline: none;
    }

        /* Add a red background color to navigation links on hover */
        .navigationBar DropDownList:hover {
            background-color: #e78200;
        }

    /* 
*   REFERENCE: 
*   Scanfcode. (2017). Footer Template https://codepen.io/scanfcode/pen/MEZPNd 
*   The following CSS for the footer was adapted from the Scanfcode example
*/
    .editorFooter {
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 170px;
        color: #737373;
        text-align: left;
        font-family: Arial;
        background-color: #333;
        font-size: 16px;
        text-align: left;
    }

    .editorFooter p 
    {
        margin-left: 200px;
        margin-bottom: -25px;
    }

    .editorFooter hr 
    {
        margin-top: 35px;
        margin-bottom: -10px;
        margin-left: 200px;
        margin-right: 150px;
        border-top-color: #bbb;
        opacity: 0.5;
    }

.footerHeading 
{
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 200px;
    text-align: left;
    color: white;
    font-size: 18px;
    font-family: Arial;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footerLogo 
{
    position: fixed;
    z-index: 1;
    left: 0px;
    bottom: -10px;
}

.cornerLogo 
{
    position: fixed;
    z-index: 1;
    right: -65px;
    bottom: -40px;
}